body {
    background-color: rgb(0, 0, 60) !important;
}

.container {
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    display: flex;
    justify-content: space-between;
}

.quiz-answer:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.05);
}

.bg-succes, bg-danger{
    color: white;
}

.width-100{
    width: 100%;
}

.text-align{
    text-align: center;
}

.button-row{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
}