body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    color: white;
}

.aot {
    background-image: url(./img/header.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    height: 60px;
}

.navlink {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.navlink:hover {
    color: #B48A4E;
}

.media {
    height: 18px;
    width: auto;
    margin-left: 20px;
}

.media:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 6px #B48A4E)
}


h1 {
    font-size: 84px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Viga';
    font-weight: 100;
    text-align: center;
}

.button {
    background-color: #B48A4E;
    color: white;
    text-decoration: none;
    padding: 16px;
    
}

.mt-20 {
    margin-top: 20px;
}

.section-quicklinks {
    background-color: black;
    padding: 80px 80px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.quickLink {
    display: flex;
    flex-direction: column;
    color: #B48A4E;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    gap: 10px;
    flex: 1;
    
    
    
}

.quickLink img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.section-festival {
    background-color: #272727;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.section-festival img {
    width: 350px;
    height: 280px;
}

.state h2 {
    margin-block-start: 0;
}

.state {
    padding: 40px;
    height: 200px;
    flex: 1;
    
}
.separator {
    background-color: white;
    width: 1px;
    height: 200px;
    margin-right: 10px;
}

.buy-ticket {
    width: 300px;
    display: flex;
    justify-content: center;
}

.slogan {
    padding: 80px 80px;
    color: #B48A4E;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.video-section {
    background-image: url(./img/bottom.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

footer {
    display: flex;
    background-color: black;
    padding: 80px 80px;
}

.fs-medium {
    font-size: 24px;
    font-weight: 700;
} 

.half-width {
    width: 50%;
}

.footer-media {
    width: 32px;
}

.centers {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 16px;
}

.footer-sub {
    display: flex;
    
}

input {
    height: 41px;
    flex-grow: 1;
}

.footer-btn {
    width: 200px;
    border-width: 0px;
}

@media(max-width: 950px) {
    .section-festival {
        flex-direction: column;
        }

    .section-festival img {
            width: 100%;
            object-fit: cover;
        }

    .separator {
        width: 400px;
        height: 1px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .buy-ticket {
        margin-bottom: 30px;
    }
}

@media(max-width: 700px) {
    h1 {
        font-size: 48px;
    }

    .hide-mobile {
        display: none;
    }

    footer {
        flex-direction: column;
        justify-content: center;
    }
    .half-width {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

}

@media(max-width: 600px) {
    .section-quicklinks {
        flex-direction: column;
        gap: 50px;
    }
}